@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
*::-webkit-scrollbar {
  width: 5px;
  background-color: #eeeeee;
}

*::-webkit-scrollbar-thumb {
  background: #15181b;
  border-radius: 5px;
}